div.wrapper {
  height: 100vh;
  width: 100vw;
  div.img {
    width: 50%;
    height: 100vh;
    background-color: white;
    display: inline-block;
    float: left;
    transition: 0.5s;
    z-index: -2;
  div.header {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 120px;
    }
  }
  div.mockup {
    div.images {
      ul {
        margin:0;
        padding: 0;
        text-align: center;
        li {
          list-style:none;
          display: inline-block;
          //margin-left: 100px;
          img {
            height: 450px;
            border: 1px solid #8080803d;
            border-radius: 7px;
            margin-top: 38px;
          }
          &:nth-child(1){
            margin-right: 10px;
          }
          &:nth-child(2){
            margin-left: 10px;
          }
        }
      }
    }
  }
    div.footer_ {
      height: 30px;
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      div.social_media {
        height: 30px;
        display: flex;
        align-items: center;
        border:1px solid #80808045;
        border-radius: 7px;
        padding: 4px;
        ul {
          text-align: center;
          padding: 0;
          li {
            list-style-type: none;
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            a  {

                i.fa-linkedin{
                  font-size: 30px;
                  color:#0084bf;
              }
              i.fa-twitter-square {
                font-size: 30px;
                color:#1da1f2
              }
             i.fa-facebook-square {
               font-size: 30px;
               color:#3b5998;
             }
             i.fa-instagram {
               font-size: 30px;
               color: #e95950;
             }
            }
          }
        }
      }
    }

  }


  div.info {
    display: inline-block;
    width: 50%;
    height: 100vh;
    background-color: #0d0d0ddb;
    float: right;
    transition: 0.5s;
    border-radius: 30px 0 0 30px;
    &:hover {
      transition: 0.5s;
      -webkit-box-shadow: -8px -1px 51px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px -1px 51px 0px rgba(0,0,0,0.75);
box-shadow: -8px -1px 51px 0px rgba(0,0,0,0.75);
    }
 div.app_details {
   width: 100%;
   text-align: center;
   div.work {
     margin-top: 25px;
     i {
       margin-top: 50px;
       font-size: 60px;
       color: white;
       transition: 1s;
       &:hover {
         transition: 1s;
         color:#aebd43;
       }
     }
   }
   .mockup2 {
     ul {
       li {
         position: relative;
bottom: 21px;
       }
     }
   }
 }

div.app_info{
  margin-top:30px;
  p{
    color: white;
    width: 60%;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    transition: 1s;
    &:hover {
      transition: 1s;
      color:#aebd43;
    }
  }
}
div.mockup2 {
  ul {
    padding: 0;
    margin-top: 0;
    li {
      list-style: none;
      display: inline-block;
        div {
          video {
            height: 440px;
            width: 520px;
            max-height: 440px;
            max-width: 520px;
            &:focus {
            outline: none;
              }
          }
        }

      }
    }
  }
}
div.app_stores {
  ul {
    display: flex;
align-items: center;
justify-content: center;
padding: 0;
    li {
      list-style: none;
      display: inline-block;
      &:nth-child(1){
         img {
            height: 60px;
         }
      }
      &:nth-child(2){
       img {
          height: 42px;
       }
      }
    }
  }
}
}div.footer_two {
  position: relative;
text-align:center;
color: grey;
bottom: 8px;
a  {
  text-decoration: none;
  color: grey;
}
}


@media screen and (max-width:1100px){
  div.img {
    display: block !important;
    float: none!important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 40px;
    div.header {
      margin-top: 0 !important;
    }
    div.mockup {
      div.images {
        ul {
          li {
            &:nth-child(1){
              margin-right: 30px !important;
            }
            &:nth-child(2){
              margin-left: 30px !important;
            }
          }
        }
      }
    }
  }
  div.info {
  display: block !important;
  float: none!important;
  border-radius: 0!important;
  width: 100% !important;
  height: auto !important;
  }

}



@media screen and (max-width:660px){
  div.img {
     div.mockup {
       div.images {
         ul {
           li {
             &:nth-child(1){
               margin-right: 15px !important;
             }
             &:nth-child(2){
               margin-left: 15px !important;
             }
           }
         }
       }
     }
  }
}

@media screen and (max-width:560px){
  div.img {
    margin-top: 25px;
    div.mockup {
      .images {
        ul {
          li {
            img {
              height: 550px !important;
            }
            display: block !important;
            &:nth-child(1){
              position: relative;
                left: 9px;
            }
            &:nth-child(2){
              margin-top: 12px;
              position: relative;
              right: 6px;
              img {
                    margin-top: 20px !important;
              }
            }
          }
        }
      }
    }
  }
  div.info {
    box-shadow: none !important;
    .app_details {
      .work {
        display: none !important;
      }
      .app_info {
        p {
          padding-top:30px !important
        }
      }
      .mockup2 {
      ul {
        li {
          div {
            video {
              width: 300px !important;
              height: 301px !important;
            }
          }
        }
      }
      }
      .app_stores {
        ul {
          padding:0;
        }
      }
    }
  }
}
