<div class="wrapper">
 <div class="img">
 <div class="header">
   <img src="/assets/images/huslicon.png" alt="">
 </div>
 <div class="mockup">
   <div class="images">
     <ul>
       <li>
         <img src="/assets/images/login.png" alt="login page">
       </li>
       <li>
         <img src="/assets/images/3.png" alt="register">
       </li>
     </ul>
   </div>
 </div>
   <div class="footer_">
     <div class="social_media">
       <ul>
         <li><a href="https://twitter.com/HUSLapp" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
         <li><a href="https://www.facebook.com/husl.app.75" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
         <li><a href="https://www.instagram.com/husl_app/" target="_blank"><i class="fab fa-instagram"></i></a></li>
       </ul>
     </div>
   </div>
 </div>


 <div class="info">
<div class="app_details">
  <div class="work">
    <i class="fas fa-hammer"></i>
  </div>
  <div class="app_info">
  <p>
    Husl is an application that allows users to post and find jobs within their jurisdiction up to
    20 miles. We are currently in our early stages and we are excited to grow and aid our users in the process
    of making money in the fastest way possible.
  </p>
  </div>
 <div class="mockup2">
   <ul class="">
     <li class='mockup_img_three'>
      <div>
        <video id="video"  controls  >
         <source src="/assets/video/promotion.mp4" type="video/mp4">
       Your browser does not support the video tag.
        </video>
      </div>
     </li>
   </ul>
 </div>
 <div class="app_stores">
   <ul>
     <li>
       <a href="https://play.google.com/store/apps/details?id=io.quickjobs237.starter" target="_blank"><img src="/assets/images/google-play-badge.png" alt="playstore"></a>
     </li>
     <li>
       <a href="k" target="_blank"><img src="/assets/images/download-on-the-app-store.png" alt="apple app store"></a>
     </li>
   </ul>
 </div>
</div>
<div class="footer_two">
  <p>Copyright &copy; 2019 husl</p>
  <a href="/#/contact">Contact</a>
</div>

 </div>
</div>
