div.wrapper {
  height: 100vh;
  width: 100vw;
}

div.wrapper div.img {
  width: 50%;
  height: 100vh;
  background-color: white;
  display: inline-block;
  float: left;
  transition: 0.5s;
  z-index: -2;
}

div.wrapper div.img div.header {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.wrapper div.img div.header img {
  height: 120px;
}

div.wrapper div.img div.mockup div.images ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

div.wrapper div.img div.mockup div.images ul li {
  list-style: none;
  display: inline-block;
}

div.wrapper div.img div.mockup div.images ul li img {
  height: 450px;
  border: 1px solid #8080803d;
  border-radius: 7px;
  margin-top: 38px;
}

div.wrapper div.img div.mockup div.images ul li:nth-child(1) {
  margin-right: 10px;
}

div.wrapper div.img div.mockup div.images ul li:nth-child(2) {
  margin-left: 10px;
}

div.wrapper div.img div.footer_ {
  height: 30px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div.wrapper div.img div.footer_ div.social_media {
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #80808045;
  border-radius: 7px;
  padding: 4px;
}

div.wrapper div.img div.footer_ div.social_media ul {
  text-align: center;
  padding: 0;
}

div.wrapper div.img div.footer_ div.social_media ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

div.wrapper div.img div.footer_ div.social_media ul li a i.fa-linkedin {
  font-size: 30px;
  color: #0084bf;
}

div.wrapper div.img div.footer_ div.social_media ul li a i.fa-twitter-square {
  font-size: 30px;
  color: #1da1f2;
}

div.wrapper div.img div.footer_ div.social_media ul li a i.fa-facebook-square {
  font-size: 30px;
  color: #3b5998;
}

div.wrapper div.img div.footer_ div.social_media ul li a i.fa-instagram {
  font-size: 30px;
  color: #e95950;
}

div.wrapper div.info {
  display: inline-block;
  width: 50%;
  height: 100vh;
  background-color: #0d0d0ddb;
  float: right;
  transition: 0.5s;
  border-radius: 30px 0 0 30px;
}

div.wrapper div.info:hover {
  transition: 0.5s;
  -webkit-box-shadow: -8px -1px 51px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px -1px 51px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -8px -1px 51px 0px rgba(0, 0, 0, 0.75);
}

div.wrapper div.info div.app_details {
  width: 100%;
  text-align: center;
}

div.wrapper div.info div.app_details div.work {
  margin-top: 25px;
}

div.wrapper div.info div.app_details div.work i {
  margin-top: 50px;
  font-size: 60px;
  color: white;
  transition: 1s;
}

div.wrapper div.info div.app_details div.work i:hover {
  transition: 1s;
  color: #aebd43;
}

div.wrapper div.info div.app_details .mockup2 ul li {
  position: relative;
  bottom: 21px;
}

div.wrapper div.info div.app_info {
  margin-top: 30px;
}

div.wrapper div.info div.app_info p {
  color: white;
  width: 60%;
  margin: auto;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  transition: 1s;
}

div.wrapper div.info div.app_info p:hover {
  transition: 1s;
  color: #aebd43;
}

div.wrapper div.info div.mockup2 ul {
  padding: 0;
  margin-top: 0;
}

div.wrapper div.info div.mockup2 ul li {
  list-style: none;
  display: inline-block;
}

div.wrapper div.info div.mockup2 ul li div video {
  height: 440px;
  width: 520px;
  max-height: 440px;
  max-width: 520px;
}

div.wrapper div.info div.mockup2 ul li div video:focus {
  outline: none;
}

div.wrapper div.app_stores ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

div.wrapper div.app_stores ul li {
  list-style: none;
  display: inline-block;
}

div.wrapper div.app_stores ul li:nth-child(1) img {
  height: 60px;
}

div.wrapper div.app_stores ul li:nth-child(2) {
  display: none;
}

div.wrapper div.app_stores ul li:nth-child(2) img {
  height: 42px;
}

div.footer_two {
  position: relative;
  text-align: center;
  color: grey;
  bottom: 8px;
}

div.footer_two a {
  text-decoration: none;
  color: grey;
}

@media screen and (max-width: 1100px) {
  div.img {
    display: block !important;
    float: none !important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 40px;
  }
  div.img div.header {
    margin-top: 0 !important;
  }
  div.img div.mockup div.images ul li:nth-child(1) {
    margin-right: 30px !important;
  }
  div.img div.mockup div.images ul li:nth-child(2) {
    margin-left: 30px !important;
  }
  div.info {
    display: block !important;
    float: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 660px) {
  div.img div.mockup div.images ul li:nth-child(1) {
    margin-right: 15px !important;
  }
  div.img div.mockup div.images ul li:nth-child(2) {
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 560px) {
  div.img {
    margin-top: 25px;
  }
  div.img div.mockup .images ul li {
    display: block !important;
  }
  div.img div.mockup .images ul li img {
    height: 550px !important;
  }
  div.img div.mockup .images ul li:nth-child(1) {
    position: relative;
    left: 9px;
  }
  div.img div.mockup .images ul li:nth-child(2) {
    margin-top: 12px;
    position: relative;
    right: 6px;
  }
  div.img div.mockup .images ul li:nth-child(2) img {
    margin-top: 20px !important;
  }
  div.info {
    box-shadow: none !important;
  }
  div.info .app_details .work {
    display: none !important;
  }
  div.info .app_details .app_info p {
    padding-top: 30px !important;
  }
  div.info .app_details .mockup2 ul li div video {
    width: 300px !important;
    height: 301px !important;
  }
  div.info .app_details .app_stores ul {
    padding: 0;
  }
}
