<div class="wrapper">
 <div class="img">
   <div class="header">
     <img src="/assets/images/icon.png" alt="app icon">
   </div>
   <div class="app_photo">
     <h1>
         Quick Jobs
     </h1>

     <div class="images">
       <div class="imgOne">
   <img src="/assets/images/photoOne.png" alt="app photo">
       </div>
       <div class="imgTwo">
<img src="/assets/images/photoTwo.png" alt="app photo">
       </div>
     </div>
   </div>
   <div class="footer_">
     <div class="social_media">
       <ul>
         <li><a href=""><i class="fab fa-linkedin"></i></a></li>
         <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
         <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
         <li><a href=""><i class="fab fa-instagram"></i></a></li>
       </ul>
     </div>
   </div>
   <div class="line"></div>
 </div>
 <div class="info">
   <div class="work">
     <i class="fas fa-hammer"></i>
   </div>
   <div class="app_text">
   <p>
      &nbsp;Quick job is an application that allows users to find and <br> post fast to do jobs in their jurisdiction.
   </p>
   </div>
   <div class="loginimg">
    <img src="/assets/images/login.png" alt="login image">
   </div>
   <div class="download">
     <ul>
       <li>
         <a href="">
           <img src="/assets/images/google-play-badge.png" alt="download on google play store">
         </a>
       </li>
       <li>
         <a href="">
           <img src="/assets/images/download-on-the-app-store.png" alt="dwonlaod on apple app store">
         </a>
       </li>
     </ul>
   </div>
 </div>
</div>
